body {
  font-family: Georgia (serif);
  background-color: white;
}
.header h1 {
  font-size: 30px;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
}
.header {
  background-color: rgb(228, 228, 228);
}
.headerp {
  font-size: large;
}
.div h3 {
  background-color: rgb(228, 228, 228);
  text-align: center;
}
.div {
  padding-top: 10px;
}
.article h3 {
  background-color: rgb(228, 228, 228);
  text-align: center;
}
.border1 {
  border: 2px solid;
  border-radius: 5px;
}
.SKILLS {
  background-color: rgb(228, 228, 228);
  text-align: center;
}
